body {
    background-color: #22252c;
}
button {
    cursor: pointer;
    background-color: transparent;
}
.about {
    text-align: center;
    margin: auto;
    max-width: 1400px;
}
.instagram {
    font-size: 50px;
}
.linkedin {
    font-size: 50px;
}

.instagram:hover, .linkedin:hover {
    color:#0070c9;
}
.main-screen {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
  }
.line-txt {
    margin-bottom: 2rem;
    border:none;
}

.btn {
    /* Style for "About" */
    width: 116px;
    height: 40px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 500;
    background-color: none;
    border: none;
}
.change-languages {
    width: 116px;
    height: 40px;
    font-size: 21px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
}

.change-languages:hover {
    box-shadow: 0 3px 6px 1px rgb(0 0 0 / 15%);
    color: #37b34a;
}
.btn-logo {
    color: #ffffff;
    font-family: monospace;
    font-size: 21px;
    font-weight: bold;
    display: flex;
    font-family: monospace;
    align-items: center;
}

.btn-gallery,.btn-nav-main-page,.btn-about,.btn-logo  {
    width: 116px;
    height: 40px;
    color: #ffffff;
    font-family: monospace;
    font-size: 21px;
    font-weight: 500;
    background-color: none;
    border: none;
}


.btn-about:hover,
.btn-gallery:hover,
.btn:hover {
    width: 116px;
    height: 40px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #fefefe;
    color: #37b34a;
}
.nav-container {
    max-width: 1400px;
    width: 100%;
    height: 73px;
    border-radius: 37px;
    margin: 0 auto;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar button {
    font-family: monospace;
}
.nav-bar {
    gap: 0.5rem;
}
.logo {
    text-align: center;
}
.active {
    width: 116px;
    height: 40px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #fefefe;
    color: #37b34a;
}
.nothing-found { 
    display:none;
    color:white;
    font-family: monospace, sans-serif;
    padding:30px;
    font-size: 5rem;
    text-transform: uppercase;
}

.no-imgs-found {
    color:white;
    font-family: monospace, sans-serif;
    padding:30px;
    font-size: 5rem;
    text-transform: uppercase;
} 
body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}
canvas {
    margin: 0 auto;
    border-radius: 30px;
}

.gallery-container {
    display: flex;
    max-width: 1243px;
    flex-direction: column;
    height: 32rem;
    margin: auto;
    background-color: #383b42;
    border-radius: 10px;
    padding: 2rem;
    overflow-y: scroll;
}

.gallery-section{
    display: grid;
    margin: auto;
    object-fit: cover;
    max-width: 1243px;
    width: 100%;
    height: 100%;
}
.gallery-container::-webkit-scrollbar {
    width: 10px;
}
.gallery-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.saved-memes {
    width: 100px;
}
.search-functions {
    display: flex;
    gap: 1rem;
}
.search-by-keyword {
    width: 100%;
    height: 57px;
    background-color: grey;
    border-radius: 15px;
}
.search-by-keyword ul{
   justify-content: space-evenly;
}
.search-by-keyword li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lato-bold;
    text-decoration: none;
    color: white;
  }
.word {
    color: white;
    border: none;
    font-family: monospace;
    cursor: pointer;
}
.word:hover {
    color: #58c93a;
}
.editor-section {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    max-width: 1285px;
    margin: auto;
}
.saved-memes-container {
    display:none;

}
.canvas-container {
    box-shadow: 1px 5px 0 #383b42, inset 0 5px 0 #383b42;
    border-radius: 30px;
    width: 476px;
    height: 546px;
}

.editor-frame {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 525px;
    height: 546px;
    border-radius: 30px;
    background-color: #383b42;
}
.input-txt {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    width: 445px;
    height: 57px;
    border-radius: 28px;
    background-color: #ebeef3;
}

.functional-btns {
    margin-bottom: 3rem;
    gap: 1rem;
}
.extra-functional-btns-container {
    background-color: #19a59f;
    width: 440px;
    height: 125px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
    padding: 10px;
}
.extra-functional-btns-container button {
    background-color: white;
    border: none;
    border-radius: 15px;
}

.extra-functional-btns {
    width: 56px;
    height: 51px;
    gap: 10px;
}

.font-styles-selector {
    border-radius: 15px;
    text-align: center;
    grid-column: -6 / -4;
    font-weight: bold;
    font-size: 22px;
}

.line-txt {
    width: 445px;
    height: 57px;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
}

.change-btn {
    border: rgb(209, 108, 125);
}

.line-btn {
    width: 57px;
    height: 53px;
    box-shadow: 1px 3px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(
        -38deg,
        #66c4dc 0%,
        #40b1ce 50%,
        #0c98bb 100%
    );
}
.add-btn {
    /* Style for "Rectangle" */
    width: 58px;
    height: 53px;
    box-shadow: 1px 3px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.delete-btn {
    /* Style for "Rectangle" */
    width: 58px;
    height: 53px;
    box-shadow: 1px 3px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(
        -38deg,
        #cf1d37 0%,
        #cf1d37 1%,
        #f05036 100%
    );
}

.fill-color-label {
    /* content: url('/fonts-btns/color.png'); */
    background-image: url("fonts-btns/color.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    width: 58px;
    height: 53px;
    border-radius: 15px;
}
#fill-color {
    visibility: hidden;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    grid-auto-rows: 200px;
    height: 100vh;
    gap: 20px;
}

.grid img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 13px;
    box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.747);
    transition: box-shadow 0.2s;
}

.share-download-btns {
    display: flex;
    margin-top: 1rem;
    width: 440px;
    height: 60px;
    justify-content: space-between;
}
.share,
.download {
    border-radius: 15px;
    width: 210px;
    border: none;
    color: white;
    font-size: 18px;
    display: block;
    overflow: visible;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    box-sizing: border-box;
    display: block;
    text-align: center;
    font-family: monospace;
}

.arrow-up {
    position: relative;
    left: -7px;
    top: 10px;
}
.arrow-down {
    position: relative;
    left: 9px;
    top: -24px;
    transform: rotate(180deg);
}

/* CSS */
.share {
    background-image: linear-gradient(#42a1ec, #0070c9);
}

.share:disabled {
    cursor: default;
    opacity: 0.3;
}

.share:hover {
    background-image: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0;
    text-decoration: none;
}

.share:active {
    background-image: linear-gradient(#3d94d9, #0067b9);
    border-color: #006dbc;
    outline: none;
}

.share:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}

.download {
    background-image: linear-gradient(rgb(217, 70, 217), rgb(155, 11, 155));
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download:disabled {
    cursor: default;
    opacity: 0.3;
}

.download:hover {
    background-image: linear-gradient(rgb(202, 66, 202), rgb(175, 16, 175));
    text-decoration: none;
}

.download:active {
    background-image: linear-gradient(rgb(202, 66, 202), rgb(175, 16, 175));
    outline: none;
}

.download:focus {
    box-shadow: rgba(183, 112, 253, 0.5) 0 0 0 3px;
    outline: none;
}
