@media (max-width: 620px) {
    .nav-container {
        max-width: 620px;
        border-radius: 0;
        margin: 0;
    }
    .gallery-container {
        max-width: 580px;
    }
    .hamburger-btn {
        display: inline;
        border: none;
        background-color: #292929;
        color: white;
        font-size: 1.6em;
        transition: color 0.3s;
    }
    .hamburger-btn:hover {
        color: #58c93a;
        cursor: pointer;
    }
    .nav-container {
        justify-content: space-between;
    }
    .nav-bar {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 50px;
        height: 100vh;
        width: 160px;
        background-color: #292929;
        transform: translateX(100%);
        transition: transform 0.6s, box-shadow 0.6s;
    }
    .menu-open .nav-bar {
        box-shadow: -6px 0px 17px rgb(0 0 0 / 19%);
        transform: translateX(0);
      }
}
